<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body class="container white-font">
        <h1>Calories Tracker</h1>
        <form action="/diets/<%=dietModel.id%>?_method=PUT" method="POST">
            <img class="img-thumbnail" src="<%=dietModel.image%>"/>
            <div class="form-group">
                <label for="inputFood">Food</label>
                <input type="text" class="form-control" id="inputFood" name="foodName" placeholder="Food or Drink" value="<%=dietModel.foodName%>">
            </div>
            <div class="form-group">
                <label for="inputFoodDescription">Description</label>
                <input type="text" class="form-control" id="inputFoodDescription" name="foodDescription" value="<%=dietModel.foodDescription%>">
            </div>
            <div class="form-group">
                <label for="inputCalories">Calories</label>
                <input type="number" id="inputCalories" name="calories" value="<%=dietModel.calories%>">
            </div>
            <div class="form-group">
                    <label for="inputDateTime">Date/Time</label>
                    <input type="datetime-local" id="inputDateTime" name="consumeTime" value="<%= formattedConsumeTime %>">
            </div>
            <div class="form-group">
                <label for="inputCalories">Food Image URL</label>
                <input type="url" class="form-control" id="inputFoodImage" name="image" value="<%=dietModel.image%>">
            </div>
            <input type="submit" class="btn btn-success" name="submit" value="Update Meal"/>
            <a href="/diets"><input type="button" class="btn btn-primary" value="Back to Index"/></a><br/><br/> 
        </form>
    </body> 
</html>