<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body class="container">
        <% var shortDateFormat = "DD/MM hh:mm A";%>
        <h1>Calories Tracker</h1>
        <a href="/diets/new">
            <button class="mdc-button mdc-button--raised"><span class="mdc-button__ripple"></span>New Meal</button>
        </a><br/><br/>
            <div class="card-deck">
                <%for (let i = 0; i < dietModel.length; i++){ %>
                <div class="card">
                    <img src="<%= dietModel[i].image %>" class="card-img-top" alt="<%= dietModel[i].foodName %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= dietModel[i].foodName %></h5>
                        <p class="card-text"><%= dietModel[i].foodDescription %></p>
                    </div>
                    <div class="card-footer d-flex">
                        <h4 class="text-muted mr-auto p-2">Calories: <%= dietModel[i].calories %></h4>
                        <a class="nocolor" href="/diets/<%=dietModel[i].id%>/edit">
                            <button class="mdc-icon-button material-icons" title="Add to favorites">
                                <i>edit</i>
                            </button>
                        </a>
                        <form action="/diets/<%=dietModel[i].id%>?_method=DELETE" method="POST">
                            <button class="mdc-icon-button material-icons" title="More options" data-mdc-ripple-is-unbounded="true">delete</button>
                        </form>
                    </div>
                </div>
                <% } %> 
            </div>
    </body> 
</html>