<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <div class="container-grid">
            <div class="card text-white bg-info mb-3 grid-item-stats" style="max-width: 18rem;">
                    <div >
                        <button id="idStats" class="btn btn-primary white-font">Calories Intake: <%=caloriesTotal %></button>
                    </div>
            </div>
            <div class="grid-item-header-user white-font">
                    <form action="/sessions?_method=DELETE" method="POST">
                        Welcome, <%=currentUser.username%>
                        <button class="btn btn-danger grid-item-header">Log Out</button>
                    </form>
            </div>
            <div class="grid-item-header ">
                    <a href="/diets/new">
                        <button class="btn btn-primary">New Meal</button>
                    </a>
                    
                </div>
            <div class="grid-item-title white-font">
                <h1>Calories Tracker</h1>
            </div>
            
            <% var shortDateFormat = "DD/MM hh:mm A";%>
                <div class="card-deck grid-item-main">
                    <%for (let i = 0; i < dietModel.length; i++){ %>
                    <div class="card mb-6" style="max-width:250px;min-width:250px;margin:5px;">
                        <div class="card-header">
                            <h6 class="text-muted mr-auto p-2"><%= moment(dietModel[i].consumeTime).format(shortDateFormat) %></h6>
                        </div>
                        <img src="<%= dietModel[i].image %>" class="card-img-top" alt="<%= dietModel[i].foodName %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= dietModel[i].foodName %></h5>
                            <p class="card-text"><%= dietModel[i].foodDescription %></p>
                        </div>
                        <div class="card-footer d-flex">
                            <h6 class="text-muted mr-auto p-2">Calories: <%= dietModel[i].calories %></h6>
                            <a class="nocolor" href="/diets/<%=dietModel[i].id%>/edit">
                                <button class="mdc-icon-button material-icons" title="Add to favorites">
                                    <i>edit</i>
                                </button>
                            </a>
                            
                            <form action="/diets/<%=dietModel[i].id%>?_method=DELETE" method="POST">
                                <button class="mdc-icon-button material-icons" title="More options" data-mdc-ripple-is-unbounded="true">delete</button>
                            </form>
                        </div>
                    </div>
                    <% } %> 
            
                </div>
                <script type="text/javascript" src="app.js"></script>
    </body> 
</html>