<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body class="container">
        <% var shortDateFormat = "DD/MM hh:mm A";%>
        <h1>Calories Tracker</h1>
        <a href="/diets/new">
            <button class="mdc-button mdc-button--raised"><span class="mdc-button__ripple"></span>New Meal</button>
        </a><br/><br/>
        <%for (let i = 0; i < dietModel.length; i++){ %>
        <div class="mdc-card demo-card my-card">
            <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
                <a href="/diets/<%=dietModel[i].id%>"></a>
                <div class="mdc-card__media mdc-card__media--16-9 demo-card__media" 
                    style="background-image: url(<%= dietModel[i].image %>)"></div>
                <div class="demo-card__primary">
                    <h2 class="demo-card__title"><%= moment(dietModel[i].consumeTime).format(shortDateFormat) %> - <%= dietModel[i].calories %> CAL</h2>
                    <h3 class="demo-card__subtitle"><%= dietModel[i].foodName %></h3>
                </div>
                <div class="demo-card__secondary"><%= dietModel[i].foodDescription %></div>

                <div class="mdc-card__action-icons">
                    <a class="nocolor" href="/diets/<%=dietModel[i].id%>/edit">
                        <button class="mdc-icon-button material-icons" title="Add to favorites">
                            <i>edit</i>
                        </button>
                    </a>
                    <form action="/diets/<%=dietModel[i].id%>?_method=DELETE" method="POST">
                        <button class="mdc-icon-button material-icons" title="More options" data-mdc-ripple-is-unbounded="true">delete</button>
                    </form>
                </div>
            </div>
        
        </div><% } %>    
    </body> 
</html>